{%extends 'base.html' %}
{% block title%}LoginChange Password{%endblock%}
{% block content%}
    <br/><br/>
    <h1 class="articleTitle">Change Password</h1>
    <br/>
    <center>
    <div class="postForm">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
            <br><br>
            <button class = "myButton">Submit</button>
        </form>
    </div>
    </center>
    <br><br><br>
{% endblock %}